<nav class="px-20 py-4 shadow-sm">
  <div class="flex row items-center justify-between">
    <div>
      <a routerLink="/" class="font-bold text-2xl tracking-wide text-blue-500">
        <span class="text-yellow-400">pt</span>pedia
      </a>
    </div>
    <div class="flex row gap-8 font-semibold">
      <a routerLink="/" class="hover:text-blue-500">Home</a>
      <a href="" class="hover:text-blue-500">Shop</a>
      <a href="" class="hover:text-blue-500">Details</a>
      <a href="" class="hover:text-blue-500">Blogs</a>
      <a href="" class="hover:text-blue-500">Events</a>
    </div>
    <div class="flex row gap-4 items-center">
      <div class="flex row gap-6 mr-8">
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
            />
          </svg>
        </a>
        <a href="" routerLink="/user">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
        </a>
      </div>

      <div class="flex row gap-6">
        <a
          href=""
          class="flex items-center border-blue-500 border-2 py-2 px-4 rounded-lg font-semibold text-blue-500"
        >
          Masuk
        </a>
        <a
          href=""
          class="flex items-center py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg"
        >
          Daftar
        </a>
      </div>
    </div>
  </div>
</nav>

<div>
  <router-outlet />
</div>
