<main class="mx-64 pt-4">
  <div class="flex gap-6 text-gray-500 text-sm">
    <p>Clothes</p>
    <p>Electronics</p>
    <p>Furniture</p>
    <p>Shoes</p>
    <p>Miscellaneous</p>
    <p>Suplementos</p>
  </div>
  <div class="flex gap-4 border-2 px-2 py-2 rounded-lg mt-4">
    <a href="" class="text-gray-400">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
        />
      </svg>
    </a>
    <input
      type="text"
      class="focus:outline-none w-full"
      placeholder="Cari di ptpedia"
    />
  </div>
  <div class="bg-slate-100 px-16 py-12 rounded-lg mt-8">
    <p class="text-6xl font-semibold text-gray-600">welcome to</p>
    <p class="text-6xl font-semibold text-blue-500">
      <span class="text-yellow-400">pt</span>pedia
    </p>
    <p class="mt-12 w-1/2 text-gray-600 text-base">
      Shop smarter at <span class="font-semibold">ptpedia</span>, the trusted
      online marketplace for all your needs. Enjoy a seamless and enjoyable
      shopping experience with <span class="font-semibold">ptpedia</span>.
    </p>
  </div>
  <app-category/>
  <app-product/>
</main>
