<div class="shadow-md w-full mt-8 px-8 py-6">
  <div>
    <p class="font-semibold text-xl">Kategori</p>
  </div>
  <div class="mt-4 flex row gap-12">
    <div class="shadow-sm w-1/6 text-center rounded-md pb-4">
      <a href="">
        <img
          src="https://i.imgur.com/BG8J0Fj.jpg"
          alt=""
          class="transition rounded-md hover:scale-105"
        />
        <p class="mt-4 font-semibold">Miscellaneous</p>
      </a>
    </div>
    <div class="shadow-sm w-1/6 text-center rounded-md pb-4">
      <a href="">
        <img
          src="https://i.imgur.com/ZANVnHE.jpeg"
          alt=""
          class="transition rounded-md hover:scale-105"
        />
        <p class="mt-4 font-semibold">Electronics</p>
      </a>
    </div>
    <div class="shadow-sm w-1/6 text-center rounded-md pb-4">
      <a href="">
        <img
          src="https://i.imgur.com/Qphac99.jpeg"
          alt=""
          class="transition rounded-md hover:scale-105"
        />
        <p class="mt-4 font-semibold">Furniture</p>
      </a>
    </div>
    <div class="shadow-sm w-1/6 text-center rounded-md pb-4">
      <a href="">
        <img
          src="http://placeimg.com/640/480"
          alt=""
          class="transition rounded-md hover:scale-105"
        />
        <p class="mt-4 font-semibold">Wooden Spoon</p>
      </a>
    </div>
  </div>
</div>
